@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
hr{
    margin: 10px 0px;
}

.header-container {
   margin: 0px 100px;
   background-color: white;
}

.header-container #header-navigation {
    padding: 40px 0px;
}
.header-container #header-navigation #header-logo {
    float: left;
}
.header-container #header-navigation #header-logo img{
    width: 40px;
    height: 25px;
    padding: 5px 10px;
}

.header-container #header-navigation ul {
    float: right;
    list-style: none;
}
.header-container #header-navigation ul li {
    display: inline-block;
    padding: 5px 10px;
}
.header-container #header-navigation ul li a {
    text-decoration: none;
    color: gray;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    transition: color 0.8s;
}
.header-container #header-navigation ul li a:hover {
    color:hsl(5, 85%, 63%);
}
.main-container {
    margin: 10px 100px;
    background-color: white;
    padding: 0px;
 }
 .main-container .branding-section{
    display: flex;
    gap: 10px;
 }
 .main-container .branding-section .main-brand{
    flex-grow: 2;
    flex-shrink: 3;
    display: flex;
    flex-direction: column;
 }
 .main-container .branding-section .main-brand .brand-image img{
    width: 100%;
    height: 20rem;
 }
 .main-container .branding-section .main-brand .brand-text{
    display: flex;
    gap: 10px;
    padding: 10px 0px;
 }
 .main-container .branding-section .main-brand .brand-text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    flex-shrink: 0.8;
    padding: 20px 0px;
 }
 .main-container .branding-section .main-brand .brand-text .text-side-brand p{
    font-weight: 400;
    font-size: 1rem;
    color: gray;
    padding: 20px 10px 20px 0px;
    text-align: start;
 }
 .main-container .branding-section .main-brand .brand-text .text-side-brand button{
    background-color: hsl(5, 85%, 63%);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    border: none;
    transition: background-color 1s ease;
 }
 .main-container .branding-section .main-brand .brand-text .text-side-brand button:hover{
    background-color: #00001A;
    cursor: pointer;
 }

 .main-container .branding-section .side-section{
    flex-grow: 1;
    flex-shrink: 2;
    padding: 10px;
    background-color: #00001A;
 }
 .main-container .branding-section .side-section h2{
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    padding: 20px 10px;
    font-weight: 600;
 }
 .main-container .branding-section .side-section h3{
    color: white;
    font-size: 1rem;
    padding: 10px;
    font-weight: 600;
    transition: color 0.8s;
 }
 .main-container .branding-section .side-section h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
 }
 .main-container .branding-section .side-section p{
    color: gray;
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0px 10px 10px;
 }

.main-container .side-articles {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
    margin: 20px 0px;
}
.main-container .side-articles .article-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main-container .side-articles .article-img img{
    width: 60px;
    height: 80px;
}
.main-container .side-articles .article-text h2{
    font-size: 1.8rem;
    color: gray;
    padding: 0px;
    font-weight: 600;
    letter-spacing: 1px;
}
.main-container .side-articles .article-text h3{
    font-size: 0.8rem;
    padding: 5px 0px;
    font-weight: 600;
    transition: color 0.8s;
}
.main-container .side-articles .article-text h3:hover{
    color:hsl(5, 85%, 63%);
    cursor: pointer;
}
.main-container .side-articles .article-text p{
    font-weight: 400;
    color: gray;
    font-size: 0.7rem;
    letter-spacing: 2;
    line-height: 0.8rem;
}

.attribution {
    text-decoration: none;
    color: gray;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    transition: color 0.8s;
}
.attribution a {
    text-decoration: none;
    color: hsl(5, 85%, 63%);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    transition: color 0.8s;
}
.attribution a:hover {
    color: hsl(5, 64%, 41%);
}

@media only screen and (max-width : 600px){
    .header-container {
        margin: 0px 20px;
     }
    .header-container #header-navigation #header-logo img{
        width: 30px;
        height: 20px;
    }
    .header-container #header-navigation ul li a {
        font-size: 0.6rem;
    }
    .main-container {
        margin: 10px 20px;
     }
    .main-container .branding-section{
        display: flex;
        flex-direction: column;
    }
    .main-container .branding-section .main-brand .brand-image img{
        height: 18rem;
    }
    .main-container .branding-section .main-brand .brand-text{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .main-container .branding-section .main-brand .brand-text h1{
        font-size: 2.4rem;
        padding: 10px 0px;
     }
     .main-container .branding-section .main-brand .brand-text .text-side-brand p{
        font-size: 1rem;
        padding: 0px 0px 10px 0px;
        text-align: start;
        line-height: 22px;
     }
     .main-container .branding-section .main-brand .brand-text .text-side-brand button{
        background-color: hsl(5, 85%, 63%);
        padding: 12px 20px;
        font-weight: 400;
        font-size: 1rem;
        margin: 10px 0px 25px;
     }
     .main-container .branding-section .side-section{
        padding: 10px 10px 20px;
        margin-bottom: 20px;
     }
     .main-container .branding-section .side-section h2{
        font-size: 2rem;
        padding: 20px 10px;
     }
     .main-container .branding-section .side-section h4{
        color: white;
        font-size: 1.4rem;
        padding: 10px;
     }
     .main-container .branding-section .side-section p{
        color: rgb(171, 171, 171);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0px 10px 20px;
    }
    .main-container .side-articles {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px;
    }
    .main-container .side-articles .article-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .main-container .side-articles .article-img img{
        width: 80px;
        height: 100px;
    }
    .main-container .side-articles .article-text h2{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .main-container .side-articles .article-text h4{
        font-size: 1.2rem;
        padding: 5px 0px;
        font-weight: 600;
        transition: color 0.8s;
    }
    .main-container .side-articles .article-text h4:hover{
        color:hsl(5, 85%, 63%);
        cursor: pointer;
    }
    .main-container .side-articles .article-text p{
        font-weight: 400;
        color: gray;
        font-size: 1rem;
        line-height: 1.1rem;
    }
    .attribution {
        font-size: 1.2rem;
        margin: 50px 20px 10px;
    }
    .attribution a {
        font-size: 1.2rem;
    }
}

/* Happy to complete this challenge from frontend mentor */